.btn{
    background-color: var(--darkPink);
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;   
    border-radius: 10px;
    height: 20px; 
}

.btn:hover{
    background-color: var(--mediumPink);
}