.btn{
    background-color: var(--darkPink);
    color: #fff;
    font-weight: bold;
    padding: 0.7em 1.2em;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .5s;
}
.btn:hover{
    background-color: var(--lightPink);
    cursor: pointer;
}

.btn_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}