.newproject_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.newproject_container h1{
    margin-bottom: .1em;
    align-self: center;
    justify-self: center;
    
}

.newproject_container p{
    color: #7b7b7b;
}