.footer{
    background-color: #ff8b94;
    color: #fff;
    padding: 1.5em;
    text-align: center;

}
.social_list{
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li{
    margin: 0 1em;

}
.social_list li:hover{
    color: #ffaaa5;
    
}
.social_list svg{
    font-size: 1em;
    cursor: pointer;

}
/* .copy_right{
    margin-top: 1em;
} */
.copy_right span{
    font-weight: bold;
    color: #ffaaa5;
}