@font-face {
    font-family: 'CustomFont';
    src: url('/src/assets/fonts/cocomat-pro-regular.ttf') format('truetype');
}
:root{
    --darkPink:#ff8b94;
    --mediumPink:#ffaaa5;
    --lightPink:#ffe3e1;
}

* {
    font-family: 'CustomFont', sans-serif;
    font-weight: normal;
}